.hackathon-info
  background-image: url(image_path("backgrounds/bglight.png"))
  color: #181f1c
  text-align: justify
  padding: 100px 0
  background-size: cover
  background-attachment: scroll
  font-size: 1.2em
  #cocbutton
    margin-top: 30px
    font-size: 20px
    color: #181f1c
    border: 1px solid 
    &:hover a
      color: #edf4ed
      border-bottom: 1px solid #181f1c
  .info
    margin-bottom: 30px
    .info-text
      line-height: 2.05em
      color: #181f1c
    .btn-left
      margin: 10px 0
