<section id="bronze">
    <div class="container">

        <div class="section-title-container">
            <h1 class="section-title">   Bronze Sponsors   </h1>
        </div>

        <div class="row">
            <div class="col-md-4 bitsonae-logo vcenter">
                <a target="_blank" href="https://www.glintt.com/">{% image 'sponsors/glintt.png' class:'img-responsive' %}</a>
            </div>
            <div class="col-md-6 narrow-logo vcenter">
                <a target="_blank" href="https://seegno.com">{% image 'sponsors/seegno.png'  class:'img-responsive hcenter' %}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 wide-logo-outsystems vcenter">
                <a target="_blank" href="https://www.smithmicro.com/">{% image 'sponsors/smith-micro-white.png' class:'img-responsive hcenter' %}</a>
            </div>
            <div class="col-md-6 critical-logo vcenter">
                <a target="_blank" href="https://www.alten.com">{% image 'sponsors/alten.png'  class:'img-responsive' %}</a>
            </div>
        </div>

    </div>
</section>
