<!-- getting-here Section -->
<section id="transports">
  <div class="container">
    <div class="section-title-container text-center">
      <h1 class="section-title"> {% t navbar.getting_here %} </h1>
    </div>

    <div class="col-md-offset-2 col-md-8 def-text">
      {% t getting_here.headline %}
    </div>

    <div class="transports-list">
      {% for transport in site.data.transports %}
      <div class="transports-list-cell">
        <a href="#{{transport.name}}">
          <div class="transport-img">
            {% image 'icons/{{ transport.pic }}' class:transport-pic %}
          </div>
          <span class="transport-name">{% t getting_here.{{ transport.name }}.title %}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <section id="bus">
    <div class="container">
      <div class="section-title-container">
        <h1 class="section-title"> {% t getting_here.bus.title %} </h1>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-3 transport-bus">
          {% image 'sponsors/tub.png' class:img-responsive %}
        </div>
        <div class="col-md-offset-2 col-md-5 transport-desc">
          {% capture bus_description %}{% t getting_here.bus.description %}{% endcapture %}
          {{ bus_description | markdownify }}
        </div>
      </div>
  </section>

  <section id="car">
    <div class="container">
      <div class="section-title-container">
        <h1 class="section-title"> {% t getting_here.car.title %} </h1>
      </div>
      <div class="row">
        <div class="col-md-5 text-center googleMaps-col">
          <iframe class="center-block" id="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.432470973233!2d-8.39983718456886!3d41.55988387924861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24fe9d967b3e7b%3A0x8e7b5fcf6deed3b!2sComplexo+Pedag%C3%B3gico+II+-+UMinho!5e0!3m2!1spt-PT!2spt!4v1516222853906"
            allowfullscreen></iframe>
        </div>
        <div class="col-md-offset-1 col-md-5 transport-desc">
          {% capture car_description %}{% t getting_here.car.description %}{% endcapture %}
          {{ car_description | markdownify }}
        </div>
      </div>
  </section>

  <section id="train">
    <div class="container">
      <div class="section-title-container">
        <h1 class="section-title"> {% t getting_here.train.title %} </h1>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-4">
        </div>
        <div class="col-md-offset-1 col-md-5 transport-desc">
          {% capture train_description %}{% t getting_here.train.description %}{% endcapture %}
          {{ train_description | markdownify }}
        </div>
      </div>
    </div>
  </section>