{% if page.path == 'hackathon/index.html' %}
<nav class="navbar navbar-custom navbar-hackathon navbar-fixed-top" role="navigation">
  {% else %}
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    {% endif %}
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        {% if site.lang == 'pt' %}
        <a class="navbar-brand page-scroll" href="{{ site.url }}" id="nav-logo">
          {% else %}
          <a class="navbar-brand page-scroll" href="{{ site.baseurl }}" id="nav-logo">
            {% endif %}
            {% image nav-logo.png %}
            <div>
              <span>
                SEMANA DA<br>
                ENGENHARIA INFORMÁTICA<br>
                <strong>{% t defaults.university %}<br>
                  {{ site.year }}</strong>
              </span>
            </div>
          </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav nav-item">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="{{ site.baseurl }}/agenda">{% t navbar.agenda %}</a>
          </li>
          <li>
            <a class="page-scroll" href="{{ site.baseurl }}/speakers">{% t navbar.speakers %}</a>
          </li>
          <li>
            <a class="page-scroll" href="{{ site.baseurl }}/challenges">{% t navbar.challenges %}</a>
          </li>
          <li>
            <a class="page-scroll" href="{{ site.baseurl }}/getting-here">{% t navbar.getting_here %}</a>
          </li>
          <li>
            <a class="page-scroll" href="{{ site.baseurl }}/team">{% t navbar.team %}</a>
          </li>
          <li>
            <a class="page-scroll" href="https://seium19.eventbrite.pt" target="_blank">{% t navbar.registrations %}</a>
          </li>
          <li>
            <a class="page-scroll" href="{{ site.baseurl }}/workshops">{% t navbar.workshops %}</a>
          </li>
          <li>
            <a class="page-scroll" href="{{ site.baseurl }}/hackathon">{% t navbar.hackathon %}</a>
          </li>
          <li>
            <a class="page-scroll" href="https://moonstone.seium.org/" target="_blank">{% t navbar.badges %}</a>
          </li>
          <li>
            {% if site.lang == "pt" %}
            {% capture link_en %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
            <a class="page-scroll" href="{{ link_en }}" onclick="localStorage.seiLang = 'en'">EN</a>
            {% else %}
            {% capture link_pt %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
            <a class="page-scroll" href="{{ link_pt }}" onclick="localStorage.seiLang = 'pt'">PT</a>
            {% endif %}
          </li>
        </ul>
      </div>
  </nav>