<section id="partners">
  <div class="container">

    <div class="section-title-container">
      <h1 class="section-title">    {% t defaults.partners %}    </h1>
    </div>

    <div class="col-md-offset-3 col-md-6 partners-carousel">
      <div class="wide-logo-delta">
          <a target="_blank" href="http://www.deltacafes.pt">{% image sponsors/delta.png class:'center-block img-responsive partner' alt:'Delta-logo'%}</a>
      </div>
      <div class="wide-logo-tub">
        <a target="_blank" href="http://www.tub.pt">{% image sponsors/tub.png class:'center-block img-responsive partner' alt:'TUB-logo'%}</a>
      </div>
      <div class="wide-logo">
          <a target="_blank" href="http://www.investbraga.com/startup/">{% image sponsors/startupbraga.png class:'center-block img-responsive partner' alt:'StartupBraga-logo'%}</a>
      </div>
    </div>
  </div>
</section>
