<section id="silver">
    <div class="container ">

        <div class="section-title-container">
          <h1 class="section-title">   Silver Sponsor   </h1>
        </div>

        <div class="row">
            <div class="col-md-4 big-logo vcenter">
                <a target="_blank" href="https://pt.primaverabss.com/pt/"> {% image sponsors/primavera.png class:'hcenter img-responsive' %} </a>
            </div>
            <div class="col-md-4 normal-logo vcenter">
                <a target="_blank" href="http://www.outsystems.com/"> {% image sponsors/outsystems-logo.png class:'hcenter img-responsive' %} </a>
            </div>
            <div class="col-md-4 normal-logo vcenter">
                <a target="_blank" href="https://blip.pt/"> {% image sponsors/blip-white.png class:'hcenter img-responsive' %}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 big-logo vcenter">
                <a target="_blank" href="https://eurotux.com"> {% image sponsors/eurotux-logo.png class:'img-responsive' %} </a>
            </div>
            <div class="col-md-4 normal-logo vcenter">
                <a target="_blank" href="https://xpandit.html"> {% image sponsors/xpandit-logo-white.png class:'hcenter img-responsive' %} </a>
            </div>
            <!--TODO<div class="col-md-4 normal-logo vcenter">
                <a target="_blank" href="https://www.bosch.com/"> \{\% image sponsors/bosch.png class:'hcenter img-responsive' \%\} </a>
            </div>-->
        </div>
    </div>
</section>
