<div id="hackathon-awards">
  <div class="container">
    <div class="row">

      <div class="col-md-4 activities-container">
        <i class="fas fa-trophy fa-4x"></i>
        <h5>{% t hackathon.awards.first.title %}</h5>
        <p class="activities-description">{% t hackathon.awards.first.description %}</p>
        <!-- <a href="" target="_blank">
          <button class="btn btn-info btn-sei">{% t hackathon.awards.first.name %}</button>
        </a> -->
      </div>

      <div class="col-md-4 activities-container">
        <i class="fas fa-trophy fa-3x"></i>
        <h5>{% t hackathon.awards.second.title %}</h5>
        <p class="activities-description">{% t hackathon.awards.second.description %}</p>
        <!-- <a href="" target="_blank">
          <button class="btn btn-info btn-sei">{% t hackathon.awards.second.name %}</button>
        </a> -->
      </div>

      <div class="col-md-4 activities-container">
        <i class="fas fa-trophy fa-2x"></i>
        <h5>{% t hackathon.awards.third.title %}</h5>
        <p class="activities-description">{% t hackathon.awards.third.description %}</p>
        <!-- <a href="" target="_blank">
          <button class="btn btn-info btn-sei">{% t hackathon.awards.third.name %}</button>
        </a> -->
      </div>

      <div class="col-md-12 activities-container">
        <i class="fa fa-gift fa-4x"></i>
        <h5>{% t hackathon.awards.surprises.title %}</h5>
        <p class="activities-description">{% t hackathon.awards.surprises.description %}</p>
      </div>

    </div>
  </div>
</div>