<header id="hackathon-header">
  <div class="header-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          {% image hackathon/header.png class:'brand img-responsive' %}

          <div id="date">
            {% t hackathon.date %} <br> <br>
          </div>

          <div id="remaining">{% t hackathon.starts_in %}</div>

          <div id="clock">
            <div class="clock-segment">
              <span class="days"></span>
              <div class="clock-unit">Dias</div>
            </div>
            <div class="clock-segment">
              <span class="hours"></span>
              <div class="clock-unit">Horas</div>
            </div>
            <div class="clock-segment">
              <span class="minutes"></span>
              <div class="clock-unit">Minutos</div>
            </div>
            <div class="clock-segment">
              <span class="seconds"></span>
              <div class="clock-unit">Segundos</div>
            </div>
          </div>

          <a href="https://cesium.typeform.com/to/wj18uo" target="_blank">
            <button id="registerbutton" class="btn btn-info btn-sei btn-hackathon">{% t hackathon.apply_now %}</button>
          </a>

        </div>
      </div>
    </div>
  </div>
</header>