<div id="agenda" class="hackathon-schedule">
  <div class="container">
    <div class="section-title-container">
      <h1 class="section-title">{% t defaults.schedule %}</h1>
    </div>

    <div class="agenda-wrapper">
      <div class="col-sm-3 agenda-day">
        <h4 class="center-block agenda-date">9 {% t defaults.months.fev %} <br><span>{% t defaults.saturday %}</span></h4>

        <div class="agenda-activity">
          <div class="activity-time">{% t hackathon.schedule.activity_example.time %}</div>
            <div class="activity-block half-hour text-left">
              <div class="activity-border"></div>
              <div class="activity-name"><b>{% t hackathon.schedule.activity_example.name %}</b></div>
            </div>
          <div class="activity-location"></div>
        </div>
      </div>
    </div>
  </div>
</div>
